


#title-subtext {
	font-size: 14px;
	color:white;
}
h3 {
	font-size: 200%;
	text-decoration: underline;
}

.question:before {
	content: "-";
}

hr {
	color: gray;
}

.main {
	padding: 5px;
}
.q-and-a {
	background-color: #995B31;
	border-radius:15px;
	padding: 10px;
}

.qa-category {
	background-color: #273F65;
	border-radius: 18px;
}
.question {
	font-size: 150%;
	font-weight:bold;
	color: #998431;
}
.answer {
	font-size:100%;
	padding-bottom: 40px;
}
