  p {
    max-width: 38rem;
    margin-left: auto;
    margin-right:auto;
    line-height: 1.7;
    font-family: "Publico Text Web", Georgia, Times, serif;
    color: #2a2a2a;

  }
  h2 {
    max-width: 38rem;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    line-height: 1.7;
    font-family: "Publico Text Web", Georgia, Times, serif;
    color: #2a2a2a;

  }
  .text-scroll-div {
    opacity: .2;
    margin-bottom: 200px;
    padding: 10px;
    
    border: 1px dotted #555;
    border-radius: 5px;
    margin-left: 15px;
  }
  .inviewport.active {
    opacity: 1;
  }
  
  .fixed {
    position: fixed;
  }
  .bottom {
    top: auto;
	  bottom: 0;
	  position: absolute;
  }
  .scroll-svg-inner svg {
  /*#svg-data-descrip svg {*/
    top: 50%;
	  position: relative;
  }
  
  .scroll-svg-inner {
  /*#svg-data-descrip {*/
  	-webkit-transform: translate3d(0, 0, 0);
  	-moz-transform: translate3d(0, 0, 0);
  	transform: translate3d(0, 0, 0);
  	width: 100%;
  }
  .scroll-svg-outer {
  /*#svg-data-descrip-outer {*/
    position:relative;
  }

  
}
